# =========================
# Entorno virtual
# =========================
env/
venv/
__pycache__/
*.pyc

# =========================
# Archivos locales de Django
# =========================
db.sqlite3
*.log
.env

# =========================
# Migraciones
# =========================
# Ignora carpetas __pycache__ dentro de migrations
**/migrations/__pycache__/
# Incluye todos los archivos .py de migraciones (0001_initial.py, 0002_auto_*.py, etc.)
!**/migrations/*.py

# =========================
# Configuraciones del IDE / editor
# =========================
.vscode/
.idea/

# =========================
# Archivos compilados / temporales
# =========================
*.swp
*.swo
*.DS_Store
